* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 0;
  }
  
  .contenedor {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .titulo {
    font-size: 24px;
    color: lightslategray;
    margin-bottom: 15px;
  }
  
  .excusa {
    font-size: 18px;
    color: grey;
    margin-bottom: 20px;
    width: 265px;
    height: 100px;
    border: 1px solid black;
  }